<?xml version="1.0" encoding="utf-8"?>

<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vladas.tictactoe" >

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.vladas.tictactoe.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vladas.tictactoe.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.vladas.tictactoe.Game"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
